---
layout: page
title: BabyGrow
tagline: Growth Charts for Little Humans
---
{% include JB/setup %}

<div class="row">
	<div class="span4">
		<img class="pull-right" src="assets/img/iphone.png" alt="White iPhone 4S"> 
		<div class="row">
		<div class="span4">
		<br>
		</div>
		</div>
		<div class="row">
		<div class="span4" id="quotes">
{% for node in site.pages %}
	{% if 'testimonial' == node.layout %}
			<div>
			{% if null != node.credit-url %}
				<blockquote cite="{{ node.credit-url }}" class="pull-right">
			{% else %}
				<blockquote class="pull-right">
			{% endif %}
					<p>{{ node.quote }}</p>
					<small class="pull-right">
			{% if null != node.credit-url %}
						<a href="{{ node.credit-url }}">{{ node.credit }}</a>
			{% else %}
							{{ node.credit }}
			{% endif %}
					</small>
				</blockquote>
			</div>
		{% endif %}
	{% endfor %}
		</div>
		</div>
	</div>
	<div class="span8">
		<div class="page-header">
			<h1>
				{{ page.title }}<br>
				<small>{{ page.tagline }}</small>
			</h1>
		</div>
		<p class="main-description">
			Track your baby's weight, length, and head circumference on your iPhone™ or iPod touch®. Charts for these measurements help you visualize your child's progress. Keep an eye on your baby's percentile rankings using data from the US Centers for Disease Control and Prevention (CDC) and the World Health Organization (WHO).
		</p>
		<br>
		<div class="row">
			<div class="span5">
				<ul class="thumbnails">
					<li>
						<div class="thumbnail">
							<a class="screenshots" href="assets/img/screenshots/WeightChart.jpg" title="Multiple Children"><img src="assets/img/thumbnails/WeightChartThumb.jpg" alt="" style="height:78;width:78;"></a>
						</div>
					</li>
					<li>
						<div class="thumbnail">
						<a class="screenshots" href="assets/img/screenshots/WeightChart.jpg" title="Instant Readings"><img src="assets/img/thumbnails/WeightChartThumb.jpg" alt=""></a>
						</div>
					</li>
					<li>
						<div class="thumbnail">
							<a class="screenshots" href="assets/img/screenshots/WeightChart.jpg" title="Growth Charts"><img src="assets/img/thumbnails/WeightChartThumb.jpg" alt=""></a>
						</div>
					</li>
					<li>
						<div class="thumbnail">
							<a class="screenshots" href="assets/img/screenshots/WeightChart.jpg" title="Growth Charts"><img src="assets/img/thumbnails/WeightChartThumb.jpg" alt=""></a>
						</div>
					</li>
					<li>
						<div class="thumbnail">
							<a class="screenshots" href="assets/img/screenshots/WeightChart.jpg" title="Growth Charts"><img src="assets/img/thumbnails/WeightChartThumb.jpg" alt=""></a>
						</div>
					</li>
				</ul>
			</div>
			<div class="span3">
				<a href="http://click.linksynergy.com/fs-bin/stat?id=RZbKRpcuVgs&amp;offerid=146261&amp;type=3&amp;subid=0&amp;tmpid=1826&amp;RD_PARM1=http%253A%252F%252Fitunes.apple.com%252Fus%252Fapp%252Fbabygrow%252Fid316177673%253Fmt%253D8%2526uo%253D4%2526partnerId%253D30"><img src="assets/img/AppStoreBadge_EN.png" alt="App Store Badge"></a>
			</div>
		</div>
		<div class="row">
		<div class="span4">
			<h3>Track baby's growth</h3>
			<p>Easily keep track of your baby's weight, length, head circumference and BMI.</p>
			<h3>Instant Read</h3>
			<p>Quickly calculate percentiles for weight, length and head circumference with Instant Read.</p>
			<h3>All ages</h3>
			<p>BabyGrow has always been the best way to track the growth of children from birth to age 3. Now you can unlock the full range of data from the CDC and WHO, allowing you to keep track of your older children as well.</p>
			<h3>Backup via Dropbox</h3>
			<p>Backup your child's growth data with Dropbox, and rest easy knowing that it is safe.</p>
			
			<h3>Subscribe to our mailing list</h3>
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="http://babygrowapp.us2.list-manage.com/subscribe/post?u=58f50820dbba8dd9cfbf7aed6&amp;id=261472fb50" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
				<div class="mc-field-group">
					<label for="mce-EMAIL">Email Address</label>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
				<div class="clear">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
				</div>
				</form>
			</div>
			<!--End mc_embed_signup-->
		</div>
		<div class="span4">
			<h3>Growth charts</h3>
			<p>Easy to read customizable growth charts help you visualize your child's progress. Print charts to any AirPrint compatible printer, or email yourself PDFs of the charts to print from your computer.</p>
			<h3>Chart annotations</h3>
			<p>Tap and hold on a chart to see the exact value for each data point.</p>
			<h3>Charts grow with your child</h3>
			<p>Whether tracking the daily progress of your newborn or the yearly growth of your older child, BabyGrow’s charts grow with your child, always presenting the most appropriate age window for your child. If you want to take a closer look or step back for an overview, you can do that, too!</p>
		</div>
		</div>
	</div>
</div>

<script type="text/javascript">                                                                                                                 
$(document).ready(function() { 
	$(".screenshots").colorbox({rel:'screenshots'});
	$.fn.cycle.defaults.timeout = 15000;
	$('#quotes').cycle({                                                                                                                     
                fx: 'fade'     
        });                                                                                                                                     
});                                                                                                                                             
</script>
