<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="google-site-verification" content="u1-9Yd9NmySjVbsZf80fMoMqoc7fNJ_rZDpFV-cn0_w" />
		<meta charset="utf-8" />


        <meta name="Description" content="{MetaDescription}" />

		<link rel="shortcut icon" href="{Favicon}" />
		<link rel="alternate" type="application/rss+xml" href="{RSS}" />
		<meta name="image:App Store Image" content="http://static.tumblr.com/tc764hz/XuOl1nw8h/appstore.png" />


		<link rel="stylesheet" type="text/css" href="css/main.css" />

		<script language="javascript" src="http://www.media.babygrowapp.com/js/mootools.js" type="text/javascript"></script>
		<script language="javascript" src="http://www.media.babygrowapp.com/js/slideshow.js" type="text/javascript"></script>
		
		    <script type="text/javascript">
         //<![CDATA[
         window.addEvent('domready',
        function(){
        var AppShow = new Slideshow('show', ['img/ScreenShot1.png', 'img/ScreenShot2.png', 'img/ScreenShot3.png', 'img/ScreenShot4.png', 'img/ScreenShot5.png'], 
        { width: "215px", height: "323px", delay: 5000 });
        });
	//]]>
      </script>

		<title>{Title}</title>
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17235455-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

function recordOutboundLink(link, category, action, opt_label) {
  try {
	_gaq.push(['_trackEvent', category, action, opt_label]);
    setTimeout('document.location = "' + link.href + '"', 100)
  }catch(err){}
}

</script>
	</head>
	<body>

		<div id="container">
			
			<div id="top">
				<div class="grid">
					<div class="left-column">
					
					<img id="iphone" alt="iPhone" src="img/iphone.png" />
					
					<div id='screen'>
					<div class='slideshow' id='show' style='border: none; opacity: 1.00; z-index: 2; '>
						<img src="img/ScreenShot1.png" />
					</div>
					</div>
					
					</div>
					<div class="right-column">
						<div id="header">
						
							<a href="http://click.linksynergy.com/fs-bin/stat?id=RZbKRpcuVgs&offerid=146261&type=3&subid=0&tmpid=1826&RD_PARM1=http%253A%252F%252Fitunes.apple.com%252Fus%252Fapp%252Fbabygrow%252Fid316177673%253Fmt%253D8%2526uo%253D4%2526partnerId%253D30" onclick="recordOutboundLink(this,'App Store Links','BabyGrow','App Icon');return false;"><img src="img/logo.png"/></a>
        					
							<p>Track your baby's weight, length, and head circumference on your iPhone™ or iPod touch®. Charts for these measurements help you visualize your child’s progress. Keep an eye on your baby's percentile rankings using data from the US Centers for Disease Control and Prevention (CDC) or the World Health Organization (WHO).</p>
							<a href="http://click.linksynergy.com/fs-bin/stat?id=RZbKRpcuVgs&offerid=146261&type=3&subid=0&tmpid=1826&RD_PARM1=http%253A%252F%252Fitunes.apple.com%252Fus%252Fapp%252Fbabygrow%252Fid316177673%253Fmt%253D8%2526uo%253D4%2526partnerId%253D30" onclick="recordOutboundLink(this,'App Store Links', 'BabyGrow', 'Available on App Store Button');return false;"><span id="app-store-link">Available in the App Store</span></a>
						</div><!-- end header -->
					</div><!-- end right-column -->
				</div><!-- end grid -->
			</div><!-- end top -->
			
					<div id="nav">
						<div class="grid">
							<div class="left-column"></div>
							<div class="right-column">
										<a class="nav-capsule" href="/">News</a>
								{block:hasPages}
									{block:Pages}
										<a class="nav-capsule" href="{URL}">{Label}</a>
									{/block:Pages}
								{/block:hasPages}
						</div><!-- end right-column -->
					</div><!-- end grid -->
				</div><!-- end nav -->
			
			<div id="bottom">
				<div class="grid">
					<div class="left-column">
						<ul class="sidebar">
							<li><img src="http://static.tumblr.com/tc764hz/a1Cl1ry1a/twitter-icon.png" alt="Twitter" /><a href="http://twitter.com/babygrowapp">Follow Us on Twitter</a></li>
							<li><img src="http://static.tumblr.com/tc764hz/CxYl211b5/mail-icon.png" alt="Email" /><a href="mailto:cases@andymolloy.fogbugz.com">Email Us</a></li>
							<li><img src="http://static.tumblr.com/tc764hz/PRhl1ry20/support-icon.png" alt="Support" /><a href="https://andymolloy.fogbugz.com/default.asp?pg=pgPublicEdit">Support</a></li>
							<li><img src="http://static.tumblr.com/tc764hz/893l1ry2d/rss-icon.png" alt="RSS" /><a href="{RSS}">Subscribe</a></li>
						</ul>
					</div>
					<div class="right-column">
						<div id="content">
							
							{block:PostTitle}
								<h1></h1>
							{/block:PostTitle}
							{block:Page}
								<h1></h1>
							{/block:Page}
							{block:IndexPage}
								<h1>Latest News</h1>
							{/block:IndexPage}
							
							{block:Posts}
							{block:Text}
							
								<div class="text">
									
									
									<div class="post">
										{block:Title}
											<h2><a href="{Permalink}">{Title}</a></h2>
										{/block:Title}
										{block:Date}
										<ul class="post-meta">
											
											<li>{Month} {DayOfMonth}, {Year}</li>
											
											{block:NoteCount}<li class="notes">{NoteCount} Notes</li>{/block:NoteCount}
											
										</ul>
										{/block:Date}
										
										{Body}
										
										{block:HasTags}
										<div class="tags">
											{block:Tags}<a href="{TagURL}" class="tag">{Tag}</a>{/block:Tags}
										</div>
										{/block:HasTags}
									</div>
									
								
								</div><!-- end text --> 	 	 	   
							
							{/block:Text}
							
							{block:Photo} 	 	 	   
							
								<div class="photo">
									
									
									
									<div class="post">
										{block:Title}
											<h2><a href="{Permalink}">{Title}</a></h2>
										{/block:Title}
										{block:Date}
										<ul class="post-meta">
											
											<li>{Month} {DayOfMonth}, {Year}</li>
											
											{block:NoteCount}<li class="notes">{NoteCount} Notes</li>{/block:NoteCount}
											
										</ul>
										{/block:Date}
										
										{LinkOpenTag}<img class="picture" src="{PhotoURL-400}" alt="{PhotoAlt}" />{LinkCloseTag}
										
										{block:Caption}
											<span class="caption">{Caption}</span>
										{/block:Caption}
										
										{block:HasTags}
										<div class="tags">
											{block:Tags}<a href="{TagURL}" class="tag">{Tag}</a>{/block:Tags}
										</div>
										{/block:HasTags}
									</div>
								
								</div><!-- end photo -->
							
							{/block:Photo}
							
							{block:Chat}
							
								<div class="chat">
								
									
									
									<div class="post">
										{block:Title}
											<h2><a href="{Permalink}">{Title}</a></h2>
										{/block:Title}
										{block:Date}
										<ul class="post-meta">
											
											<li>{Month} {DayOfMonth}, {Year}</li>
											
											{block:NoteCount}<li class="notes">{NoteCount} Notes</li>{/block:NoteCount}
											
										</ul>
										{/block:Date}
										
										<ul>
											{block:Lines}
											<div class="{Alt}"
												{block:Label}
													<span class="label">{Label}</span>
												{/block:Label}
													<li>
														<p>{Line}</p>
													</li>
											</div><!-- end alt -->
												
												
											
											{/block:Lines}
											
											{block:HasTags}
											<div class="tags">
												{block:Tags}<a href="{TagURL}" class="tag">{Tag}</a>{/block:Tags}
											</div>
											{/block:HasTags}
										</ul>
									</div>
								
								</div><!-- end chat -->
							
							{/block:Chat}
							
							{block:Video}
							
								<div class="video">
								
									
									 	 	 	    	 	 	   
									<div class="post">
									 	 	 	   
										{block:Title}
											<h2><a href="{Permalink}">{Title}</a></h2>
										{/block:Title}
										{block:Date}
										<ul class="post-meta">
											
											<li>{Month} {DayOfMonth}, {Year}</li>
											
											{block:NoteCount}<li class="notes">{NoteCount} Notes</li>{/block:NoteCount}
											
										</ul>
										{/block:Date}
										
										<div class="video-frame">{Video-400}</div>
										
										{block:Caption}
											<span class="caption">{Caption}</span>
										{/block:Caption}
										
										{block:HasTags}
										<div class="tags">
											{block:Tags}<a href="{TagURL}" class="tag">{Tag}</a>{/block:Tags}
										</div>
										{/block:HasTags}
									
									</div>
								
								</div><!-- end video -->
							
							{/block:Video}
							
							{block:Audio}
							
								<div class="audio">
							
										
										<div class="post">
										
											{block:Date}
											<ul class="post-meta">
												
												<li>{Month} {DayOfMonth}, {Year}</li>
												
												{block:NoteCount}<li class="notes">{NoteCount} Notes</li>{/block:NoteCount}
																
											</ul>
											{/block:Date}
										
											{AudioPlayerBlack}
											
											{block:Caption}
											<span class="caption">{Caption}</span>
											{/block:Caption}
											
											{block:HasTags}
											<div class="tags">
												{block:Tags}<a href="{TagURL}" class="tag">{Tag}</a>{/block:Tags}
											</div>
											{/block:HasTags}
										
										</div>
								
								</div><!-- end audio -->
							
							{/block:Audio}
							
							{block:Quote}
							
								<div class="quote">
							
										
										<div class="post">
											{block:Date}
											<ul class="post-meta">
												
												<li>{Month} {DayOfMonth}, {Year}</li>
												
												{block:NoteCount}<li class="notes">{NoteCount} Notes</li>{/block:NoteCount}
																
											</ul>
											{/block:Date}
										
											<blockquote>
												<p>{Quote}</p>
											</blockquote>
											
											{block:Source}
											
												<p class="source">{Source}</p>
											
											{/block:Source}
											
											{block:HasTags}
											<div class="tags">
												{block:Tags}<a href="{TagURL}" class="tag">{Tag}</a>{/block:Tags}
											</div>
											{/block:HasTags}
										
										</div>
								
								</div><!-- end quote -->
							
							{/block:Quote}
							
							{block:Link}
							
								<div class="link">
								
									
									<div class="post">
										{block:Date}
											<ul class="post-meta">
												
												<li>{Month} {DayOfMonth}, {Year}</li>
												
												{block:NoteCount}<li class="notes">{NoteCount} Notes</li>{/block:NoteCount}
																
											</ul>
										{/block:Date} 	 	 	   
									
									
										<h2><a href="{URL}">{Name}</a></h2>
										
										{block:Description}
											<span class="caption">Track your baby's weight, length, and head circumference on your iPhone™ or iPod touch®. Charts for these measurements help you visualize your child’s progress. Keep an eye on your baby's percentile rankings using data from the US Centers for Disease Control and Prevention (CDC) or the World Health Organization (WHO).</span>
										{/block:Description}
										
										{block:HasTags}
										<div class="tags">
											{block:Tags}<a href="{TagURL}" class="tag">{Tag}</a>{/block:Tags}
										</div>
										{/block:HasTags}
									
									</div>
								
								</div><!-- end link -->
							 	 	 	   
							{/block:Link}
							{/block:Posts}
						</div><!-- end content -->
						<div id="controls">
							{block:Pagination}
								{block:NextPage}
									<a id="old" href="{NextPage}">Prev.</a>
								{/block:NextPage}
								{block:PreviousPage}
									<a id="new" href="{PreviousPage}">Next</a>
								{/block:PreviousPage}
							{/block:Pagination}
						</div><!-- end controls -->
					</div><!-- end right-column -->
				</div><!-- end grid -->
			</div><!-- end bottom --> 	 	 	   
		</div><!-- end container -->
	</body>
	<!--
    This Tumblr Theme and all of its CSS, Javascript,
    and media assets are subject to Tumblr's Terms of Service:

    http://www.tumblr.com/terms_of_service
    -->
</html>
